/* ============= Icon showcase css start =========== */

.iconShowCaseCont {
  display: flex;
  width: 73.2%;
  height: 43.2vw;
  margin: 6.25rem auto;
}

.iconShowCaseCont .lft {
  padding: 1.8rem;
  background-color: var(--light-gray);
  height: 100%;
  width: 65.5%;
  border-radius: 1rem;
}

.iconShowCaseCont .header {
  display: flex;
  align-items: center;
}

.iconShow {
  height: 96%;
}

.header span {
  margin-right: .6rem;
  font-family: "Nunito-SemiBold";
  font-size: .96rem;
}

.header span:first-child {
  color: var(--brand-color);
}

.iconCont {
  /* background-color: brown; */
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.iconWraper {
  margin-bottom: 4rem;
}

.iconWraper img {
  width: 8.4375rem;
  height: 8.4375rem;
}

.colorsCont {
  display: flex;
  align-items: center;
  border-right: .1rem solid var(--dark-gray);
}

.colorsCont img {
  margin-right: .6rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.iconColors {
  display: flex;
  align-items: center;
}

.iconColors .reset {
  background-color: white;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-left: .8rem;
  cursor: pointer;
}

.iconTypesCont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconTypesCont .iconType {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 .65rem;
  cursor: pointer;
}

.iconTypesCont .iconType p {
  color: var(--text-secondary);
}

.iconTypesCont .iconType img {
  width: 2.8rem;
  height: 2.8rem;
}

.iconTypesCont .iconType p {
  font-size: .8rem;
  margin-top: .5rem;
  font-family: "Nunito-Bold";
}

.iconShowCaseCont .rgt {
  padding: 1.8rem;
  width: 34.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iconInfo {
  margin-bottom: 1rem;
}

.iconName {
  display: flex;
  align-items: center;
}

.iconName p {
  margin-right: .8rem;
  color: var(--primary);
  font-family: "Nunito-SemiBold";
}

.iconName span {
  display: flex;
  padding: 0rem 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  background: var(--light-gray);
  font-family: "Nunito-SemiBold";
  color: #1E3050;
  font-size: 1rem;
  margin-right: .5rem;
  cursor: pointer;
}

.rgt .category {
  color: var(--text-secondary);
  text-decoration: underline;
  margin-top: .2rem;
}

.rgt .report {
  text-align: right;
  color: var(--text-secondary);
  font-family: "Nunito-SemiBold";
  font-size: .9rem;
  cursor: pointer;
}


.iconModify p {
  font-size: .9rem;
  color: var(--text-secondary);
  font-family: "Nunito-Medium";
}

.optionsCont {
  display: flex;
  align-items: center;
}

.iconModify img {
  margin-right: .6rem;
  cursor: pointer;
}

.iconModify {
  margin-top: .5rem;
}

.iconModify .iconSize {
  border-radius: 6.25rem;
  border: 1px solid var(--light-gray);
  background-color: var(--white);
  display: flex;
  height: 2.5rem;
  padding: 0.5625rem 0.6875rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: .63rem;
  font-size: .9rem;
  font-family: "Nunito-Bold";
  color: var(--primary);
}

.iconModify .formate {
  padding: 0.5625rem 0.9875rem;
}

.active {
  border-color: transparent;
  color: var(--brand-color) !important;
  background-color: var(--light-gray) !important;
}

.btnCont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* ============= Other Icon Section Css =========== */


.otherIconsCont {
  width: 100%;
  background-color: var(--light-gray);
  padding: 6.25rem 12.7rem;
}

.otherIconsCont h3 {
  margin-bottom: 3.13rem;
  color: var(--primary, #1E3050);
  font-family: "Nunito-ExtraBold";
  font-size: 1.5rem;
}

.otherIcons {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.66rem;
  flex-wrap: wrap;
}

@media(max-width: 1024px){
  .otherIcons{
    gap: 2.5rem;
  }
}

@media(max-width: 900px) {
  .iconShowCaseCont {
    flex-direction: column;
    height: fit-content;
    width: 88.2%;
    margin: 1.25rem auto;
  }

  .iconShowCaseCont .rgt,
  .iconShowCaseCont .lft {
    width: 100%;
  }

  .iconShowCaseCont .rgt {
    padding: 1.8rem .3rem;
  }

  .iconName p {
    font-family: "Nunito-Bold";
    font-size: 1.2rem;
  }

  .iconTypesCont {
    margin-top: 2rem;
  }

  .iconWraper {
    margin-bottom: 2rem;
  }

  .otherIconsCont{
    padding: 3.25rem 2.9rem;
  }

  .otherIcons{
    gap: 1rem;
  }
}

@media(max-width: 600px){
  .otherIconsCont{
    padding: 3.25rem 1.9rem;
  }
}