.iconCard {
    border-radius: var(--radius, 0.625rem);
    border: 1px solid var(--light-gray, #F0F3F5);
    background: var(--white-color, #FFF);

    display: flex;
    width: 10.3rem;
    height: 8.5rem;
    min-height: 5rem;
    max-height: 8.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    transition: all .5s;
}

.iconCard:hover{
    /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.089); */
    box-shadow: 0 0 1.5rem #7238fa23;
}

.iconCard:hover  p{
    color: var(--brand-color);
}

.iconCard img {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
}

.iconCard p {
    font-size: 0.875rem;
    color: var(--text-secondary, #676F7E);
    margin-top: 2rem;
    transition: all .3s;
}

@media(max-width: 600px) {
    .iconCard {
        width: 7.5rem;
        height: 7rem;
    }
    .iconCard p{
        margin-top: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 63%;
    }

    .iconCard img{
        width: 2.5rem;
    }
}